In [11]:
print("hello world")

hello world

In [13]:
print("welcome to AAFT")

welcome to AAFT

In [15]:
#programm for addition of two numbers
num1=10
num2=30
num3=num1+num2
print(num3)

40

In [17]:
#programm for subtraction of two number
num1= 100
num2=60
num3=(num1-num2)
print(num3)

40

In [21]:
#programm for division of two number
num1=125
num2=5
num3=num1/num2
print(num3)

25.0

In [63]:
#programm for multiplication of two numbers 
num1=10
num2=50
num3=num1*num2
print(num3)

500

In [65]:
x=5
print(type(x))

<class 'int'>

In [67]:
y="aaft"
print(type(y))

<class 'str'>

In [69]:
x="welcome"
print(len(x))

7

In [71]:
myVAR=70
print(type(myVAR))

<class 'int'>

In [73]:
x=10
y=90
xy=y-x
print(xy)

80

In [79]:
x=20.5
print(type(x))

<class 'float'>

In [81]:
x=1j
print(type(x))

<class 'complex'>

In [83]:
x=["apple","banana","cherry"]
print(type(x))

<class 'list'>

In [85]:
x=("apple","banana","pears")
print(type(x))

<class 'tuple'>

In [87]:
x=(0,6)
print(type(x))

<class 'tuple'>

In [89]:
x=range(6)
print(type(x))

<class 'range'>

In [91]:
x={"name":"John","age":36}
print(type(x))

<class 'dict'>

In [93]:
x={"apple","banana","cherry"}
print(type(x))

<class 'set'>

In [97]:
print(10>9)

True

In [99]:
print(10==9)

False

In [101]:
print(10<9)

False

In [103]:
print(100090943885589728835>38923204823808138384957)

False

In [140]:
a=25
b=125
print(a*b)

3125

In [148]:
fruits=("apple","banana","cherry")
t1=fruits*2
print(t1)

('apple', 'banana', 'cherry', 'apple', 'banana', 'cherry')

In [150]:
t1=(1,2,3,4,5,6,7)
t2=t1*2
print(t2)

(1, 2, 3, 4, 5, 6, 7, 1, 2, 3, 4, 5, 6, 7)

In [152]:
t1=(1,2,3,4,5,6,7,7,7,7,8)
x=t1.count(7)
print(x)

4

In [154]:
t1=("apple","banana","apple","cherry")
x=t1.count("apple")
print(x)

2

In [156]:
x=(1,2,3,4,5,6,7)
y=x.index(2)
print(y)

1

In [158]:
t1=("banana","apple","cherry")
x=t1.index("apple")
print(x)

1